header {
    background: #fff;
    font-family: 'Readex Pro';

}
header .container-fluid {
    padding: 2% 6%;
}
header .title
{
  font-size: 5.5rem;
  font-weight: 600;
  text-align: center;
}

header .imgs {
  width: 15%;
}
header .info {
  text-align: center;
}
header .info a {
  text-decoration: none;
  color: #000;

}

header .info a:hover {
color: grey;
}

@media screen and (max-width:640px){
    header .title {
      font-size: 3.5rem;
  
    }
    header .container-fluid {
        padding: 10% 6%;
    }

    header .imgs {
      width: 20%;
    }
  } 