.search {
    background: #fff;
    font-family: 'Readex Pro';

}
.search .container-fluid {
    padding: 1% 5%;
}

.search input {

    border:1px solid lightgray;
    border-radius: 30px;
    padding: 1rem;
    width: 1000%;
}

.search ::placeholder {
    text-align: center;
}

.search .card {
    border:2px solid lightgray;
    margin: 2% 0%;
    width: 100%;
}

.search .card:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 24px;
}

.search .card .card-title {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center; 

}
.search .card .card-text {
    font-weight: 400;
    
}

.search .card .left {
float: right;
    
}
.search .card .green {
    color: green;
        
    }
    .search .card .red {
        color: red;
            
        }
        .search .card .orange {
            color: orange;
                
            } 


@media screen and (max-width:640px){
    header .title {
      font-size: 3.5rem;
  
    }
    header .container-fluid {
        padding: 10% 6%;
    }
  } 